[Desktop Entry]
Version=1.0
Type=Application
Name=CalyxVPN
Comment=Anonymous VPN
Comment[es]=VPN Anonima
Comment[de]=Anonymous VPN
Path=/snap/bin/
Exec=calyx-vpn.launcher
Terminal=false
Icon=${SNAP}/meta/gui/calyx-vpn.png
Categories=Network;Application;
StartupNotify=true
Keywords=VPN;Calyx;leap

